/* Resetting margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

body{


    background-image: linear-gradient(to right, rgba(8, 8, 8, 0.899) , rgba(115, 3, 87, 0.881),transparent  ),url(https://img.freepik.com/premium-vector/tic-tac-toe-game-linear-outline-icon-colour-neon-style-brick-wall-background-light-icon_549897-1770.jpg?w=740);

    

/* Default styling for div elements */
div {
    /* Default background color for div elements */
   
   border-radius: 20px;
    padding: 30px;
   background-image: linear-gradient(black,rgba(179, 38, 162, 0.463),transparent);

}

/* Styling for the container */
.container {
    width: 50%;
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 20px;
    margin: auto;
    margin-top: 10%;

   

    
    
    
    border: none;

};

   
}

/* Styling for #div1 */
#div0 {
    grid-column-start: 1;
  grid-column-end: 4;
    font-size: 2em;
    font-weight: bold;
    color: white;
   
    text-align: center;
   background-color: transparent;
   border-radius: 0px;
}

/* Additional styling for paragraphs */
p {
    width: 80%;
    margin: auto;
}

/* Styling for spans */
span {
    font-weight: bold;
    color: yellow;
}

/* Hover effect for all div elements */
div:hover {
    background-image: linear-gradient(to bottom, black ,transparent  );
}

/* Additional styling for elements with class 'content' */
.content {
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: auto;
}
